p {
	font-size: 2rem;
}

button.option {
	width: 80%;
	white-space: normal;
}

@media only screen and (max-width: 700px) {
	p {
		font-size: 4rem;
	}

	button {
		font-size: 4rem;
	}

	button.option {
		width: 100%;
	}
}
